.bg-header {
  width: 100%;
  height: 200px;
}

.bg-footer {
  width: 100%;
}

#navbar {
  width: 100%;
  position: fixed;
}

#main-sec {
  padding-top: 5%;
}
 #main-sec div {
  padding-bottom: 20px;
 }
